*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
}

h1 {
  display: inline-block;
  font-weight: bold;
  font-size: 63px;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 0;
}

header {
  margin-inline: auto;
  max-width: 976px;
  padding: 2.5rem 0 2rem 0;
  overflow-x: hidden;
  width: 976px;
}
@media (max-width: 768px) {
  header {
    width: calc(100% - 40px);
  }
}
@media (max-width: 740px) {
  header {
    padding: 48px 0 48px 0;
  }
}
header section {
  display: flex;
  gap: 40px;
}
header section nav {
  display: flex;
  align-items: center;
  color: #6B7280;
}
header section a {
  text-decoration: none;
  color: inherit;
}
header section a img {
  width: 100%;
}
header section ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

main {
  margin-inline: auto;
  max-width: 976px;
  flex: 1;
}
@media (max-width: 768px) {
  main {
    width: calc(100% - 40px);
  }
}
main .title {
  padding: 1.5rem 0 2rem 0;
}
main .title p {
  color: #6B7280;
}
main .title h1 {
  background: linear-gradient(to right, #f00, #ff9d00, #a600ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 82px;
}
main section a {
  text-decoration: none;
  color: inherit;
}
main section ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
main section ul li .article {
  padding: 3rem 0rem;
  display: flex;
  border-top: 0.5px solid rgb(210, 214, 220);
}
main section ul li .article .formatedDate {
  min-width: 25%;
}
main section ul li .article .formatedDate dl {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 18px;
}
main section ul li .article h2 {
  margin-top: 0;
  font-size: 30px;
}
main section ul li .article h2 a {
  color: inherit;
  cursor: default;
}
main section ul li .article p {
  color: #6B7280;
}
main section ul li .article__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  font-size: 18px;
}
main section ul li .article__text span {
  display: inline-block;
}
main section ul li .article__text span a {
  color: #9061F9;
  width: auto;
  max-width: 100%;
}
@media (max-width: 1265px) {
  main section ul li .article {
    flex-direction: column;
  }
}
main section hr {
  margin: 0;
  color: rgb(210, 214, 220);
}

footer {
  background-color: #252F3F;
}
footer .container {
  display: flex;
  max-width: 975px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}
footer .container ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  gap: 40px;
}
footer .container p {
  color: #d2d6dc;
  display: flex;
  align-items: center;
}
footer .container a.icon {
  max-width: 30px;
  max-height: 30px;
}
footer .container img {
  width: 30px;
  height: 30px;
}

.post {
  margin-inline: auto;
  max-width: 976px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .post {
    width: calc(100% - 40px);
  }
}
.post__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5rem;
}
.post__header h2 {
  font-size: 58px;
  text-align: center;
  margin: 0;
}
.post__header dl {
  color: #6B7280;
  font-size: 18px;
}
.post__content {
  display: flex;
  gap: 24px;
  padding-bottom: 5rem;
}
.post__content__column {
  min-width: 25%;
}
.post__content__column .footer__other-posts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1.5rem 0;
}
.post__content__column .footer__other-posts p {
  font-size: 14px;
  color: #6B7280;
}
.post__content__column .footer__other-posts a {
  font-size: 16px;
  color: #9061F9;
}
.post__content__column .footer__backlink {
  padding-top: 1.5rem;
  color: #9061F9;
}
.post__content__column .description {
  padding: 2.5rem 0;
}
.post__content__column .description .detail {
  display: flex;
  gap: 8px;
  align-items: center;
}
.post__content__column .description .detail .img-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.post__content__column .description .detail .img-container img {
  width: 100%;
  object-fit: contain;
}
.post__content__column .description .detail .author {
  font-size: 16px;
}
.post__content__column .description .detail .title {
  font-size: 16px;
  color: #6B7280;
  padding: 0;
}
.post__content__post-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.post__content__post-content__img-container {
  max-width: 720px;
}
.post__content__post-content__img-container img {
  width: 100%;
}/*# sourceMappingURL=main.css.map */