//importing utils
@import "./utils-scss/all-utils";


// mixin for gradient text
@mixin gradient-text {
    background: linear-gradient(to right, #f00, #ff9d00, #a600ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

// styles.scss
*,
*::before,
*::after {
    box-sizing: border-box;

}

#root {
    min-height: 100%; //footer at bottom if no content.
    display: flex;
    flex-direction: column;


    
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 63px;
    margin: 0;

    
}

p {
    font-size: 18px;
    margin: 0;
}

header {
    @include container;
    @include section;

    width: 976px; //for header

    @include media(md) {
        max-width: 720px;
    }

    @include media(sm) {
        // width: 569px;
    }

    section {
        display: flex;
        gap: 40px;
        

        nav {
            display: flex;
            align-items: center;
            color: $gray;
        }

        a {
            text-decoration: none;
            color: inherit;

            img {
                width: 100%;
            }

        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            text-decoration: none;
        }

        @include media(sm){
            justify-content: center
        }
    }

}

main { 
    
    @include container;
    flex: 1;

    .title {
        padding: 1.5rem 0 2rem 0;

        p {
            color: $gray;
        }

        h1 {
            @include gradient-text;
            font-size: 82px;

            @include media(sm) {
                font-size: 42px;
            }

        }

        @include media(sm){

        }
    }

    section {

        a {
            text-decoration: none;
            color: inherit;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            text-decoration: none;

            li {

                .article {

                    

                    padding: 3rem 0rem;
                    display: flex;
                    border-top: 0.5px solid rgb(210, 214, 220);

                    

                    .formatedDate {
                        min-width: 25%;

                        dl {
                            margin-top: 0.5rem;
                            color: $gray;
                            font-size: 18px;
                        }
                    }


                    h2 {
                        margin-top: 0;
                        font-size: 30px;

                        a {
                            color: inherit;
                            cursor: default;
                        }
                    }

                    p {
                        color: $gray;
                    }

                    

                    &__text {

                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        width: 100%;
                        font-size: 18px;

                        span {
                            display: inline-block;

                            a {
                            color: $linkpurple;
                            width: auto;
                            max-width: 100%;
                            }
                        }
                        
                    }

                    @include media(lg) {
                        flex-direction: column;

                        
                    }

                    @include media(md) {
                        // @include container;
                        max-width: 720px;
                    }
                }
            }
        }

        hr {
            margin: 0;
            color: rgb(210, 214, 220);
        }

        @include media(lg);



    }
}

footer {
    background-color: #252F3F;
    .container {

        @include container;
        display: flex;
        max-width: 975px;
        margin: 0 auto;
        justify-content: space-between;
        padding: 1rem 0;
        align-items: center;

        ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            text-decoration: none;
            gap: 40px;
        }
        p{ 
            color: #d2d6dc;
            display: flex;  
            align-items: center;
        }
        a.icon {
            max-width: 30px;
            max-height: 30px;
        }

        img {
            width: 30px;
            height: 30px;
        }

        @include media(sm) {
            flex-direction: column;
            row-gap: 1rem;
        }

        @include media(md) {
            // align-items: center;
            text-align: center;
            max-width: 720px;

        }
    }


    
    
}

// SINGLE POST PAGE
.post {
    @include container;
    display: flex;
    flex-direction: column;

    &__header {

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2.5rem;

        h2 {
            font-size: 58px;
            text-align: center;
            margin: 0;

            @include media(md) {
                max-width: 720px;
                font-size: 46px;
            }

            @include media(sm) {
                font-size: 32px;
            }
        }

        dl {
            color: $gray;
            font-size: 18px;
        }

        @include media(md) {
            padding-bottom: 0;
        }
    }

    &__content {
        @include container;

        grid-template-rows: auto 1fr;
        display: grid;
        grid-template-columns: repeat(4, minmax(0,1fr));

        &__detail {
            padding: 0rem 1rem 0rem 0rem;
            display: flex;
            gap: 8px;
            align-items: center;

            &__img-container {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;

                img {
                width: 100%;
                object-fit: contain;
                }
            }

            &__author{
                font-size: 16px;
            }

            &__title {
                font-size: 16px;
                color: $gray;
                padding: 0;
            }

            
                
        }

        &__post-content{
            grid-row: span 2/span 2;
            grid-column: span 3/span 3;
            padding-bottom: 4rem;
            // padding: 0rem 1rem 4rem 0rem;

            &__img-container {
                // max-width: 720px;
                max-width: 100%;
                // display: flex;
                // justify-content: center;
                // margin: 0;
                // padding-bottom: 2rem;

                img {
                    width: 100%;
                    object-fit: contain;

                }
            }

            hr {
                // color: green;
                // padding: 2rem 0rem;
                margin: 2rem 0rem;
            }

        }
            
        

        &__footer {
            padding: 0rem 1rem 4rem 0rem;

            grid-column-start: 1;
            grid-row-start: 2;

            &__other-posts{

                display: flex;
                flex-direction: column;
                gap: 30px;

                padding: 1.5rem 0;

                p {
                    font-size: 14px;
                    color: $gray;
                }

                a {
                    font-size: 16px;
                    color: $linkpurple;
                }
            }

            &__backlink {
                padding-top: 1.5rem;
                color: $linkpurple;

            }
            
        }

        @include media(md){
            display: block;
            max-width: 720px;

            &__detail {
                justify-content: center;
                display: flex;
                margin: 0;
                padding: 2rem 0;

            }

            &__post-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-bottom: 0;

                hr {
                //     display: block;
                //     color: red;
                width: 100%;
                }
                
            }
            
        }
        
    }
}