@mixin container {
    margin-inline: auto;
    max-width: 976px;
    // max-width: 1400px;
    // width: 90%;
    // padding: 0rem 1.5rem;

    @include media(sm) {
    	width: calc(100% - 40px);
    }
}